@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/**/
nav img{
    width: 100px;
    height: 100px;
    margin: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: black;
    --primary-color: rgb(51,44,120);
}

header {
    margin-top: 2rem;
}


.img{
    width: 50rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}



/*Form*/
form {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Input para pesquisa*/
form input{
    padding: 3px;
    outline: none;
    width: 300px;
}

/*Button form*/
form button{
    padding: 8px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    text-align: center;
}

form button:hover{
    background: rgb(0, 0, 0);
}

/*h1*/
.title{
    font-size: 40px;
    text-align: center;
    color: var(--primary-color);
}

/*Div Item imagem*/
.item img{
    border-radius: 25% 10%;
    display: flex;
    width:100%;
}

/*Div Lista*/
.lista{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Div item*/
.item{
    text-align: center;
    padding: 10px;
    width: 230px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    color: white;
}

.item:hover{
    background-color: rgba(8, 5, 10, 0.685);
    cursor: pointer;
}



footer{
    color: white;
    justify-content: center;
    align-items: center;

}


/*NavBar*/
 
nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
}

/*Carousel*/
#foto1{
    width: 50px;
    /* height: 50px;*/
    justify-content: center;
    align-items: center;
}
